 body {
     font-family: sans-serif;
     padding: 20px;
 }

 .todo-container {
     max-width: 400px;
 }

 input,
 button {
     padding: 10px;
     margin: 5px 0;
     width: 100%;
     box-sizing: border-box;
 }

 ul {
     list-style-type: none;
     padding: 0;
 }

 li {
     background: #f4f4f4;
     margin: 5px 0;
     padding: 10px;
     border-bottom: 1px solid #ddd;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .task-date {
     font-size: 0.8em;
     color: #666;
     margin-left: 10px;
 }


 .container {
     display: flex;
     gap: 47px;
 }